option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT:3000
    AWS_ACCESSKEY_ID:AKIAYYNK474FFAVRJCWA
    AWS_SECRET_ACCESS_KEY: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
    S3_BUCKET_NAME:steve-alarabiya
    CDN_BASE_URL:https://d2ofjj8kxv85lc.cloudfront.net
